html, body{
  margin: 0;
  font-family: 'Neucha', cursive;
  color: #f3f3f3;
}
::-webkit-scrollbar{
  display: none;
}
.logo{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  color: #f3f3f3;
  display: flex;
  margin: 20px;
}
.logo-icon{
  font-size: 30pt;
}
.logo h1{
  margin: 0;
  margin-left: 10px;
}
.mapGL{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.marker{
  animation: pin 1s infinite;
}
@keyframes pin{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.model{
  position: absolute;
  width: 170px;
  height: auto;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #636363;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 3px #636363;
}
.model h2{
  color: #f3f3f3;
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
}
.model h4{
  color: #f3f3f3;
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
.model h4:hover{
  color: #ffffff;
}
.rounded{
  border-radius: 15px !important;
}
.result{
  width: 100%;
  height: auto;
  margin-top: 20%;
}